In [1]:
import pandas

# 1. zadání

Načti data o zaměstnancích z CSV souborů do tabulek (DataFrame).

In [5]:
liberec = pandas.read_csv("10_zam_liberec.csv")
plzen = pandas.read_csv("10_zam_plzeň.csv")
praha = pandas.read_csv("10_zam_praha.csv")
liberec

        jmeno    prijimeni   telefonni_cislo  cislo_zamestnance
0        Nela      Šťastná       728 454 176                 83
1     Heather      Marková       604 404 522                 84
2      Krista  Procházková  +421 50 444 5544                 85
3    Jennifer        Brown       775 545 190                 86
4   Ladislava    Blackwell  +421 913 487 200                 87
5      Robert       Macias  +421 49 929 6856                 88
6        Dana        Reyes  +421 904 153 942                 90
7       Vasyl       Veselý       603 759 413                 92
8       Randy       Veselý       777 149 125                 95
9      Audrey        Allen  +421 908 839 506                 96
10       Ivan       Bartoš       603 226 051                 99

Ke každé tabulce přidej nový sloupec mesto, které bude obsahovat informaci o tom, ve kterém městě zaměstnanec pracuje.

In [6]:
liberec["mesto"] = "Liberec"
plzen["mesto"] = "Plzeň"
praha["mesto"] = "Praha"

Vytvoř novou tabulku zamestnanci a ulož do ní informace o všech zaměstnancích (operace concat).

In [21]:
zamestnanci = pandas.concat([liberec, plzen, praha], ignore_index=True)
zamestnanci.shape

(56, 5)

Ze souboru platy_2021_02.csv načti platy zaměstnanců za únor 2021. Propoj tabulku (operace join) s platy a tabulku se zaměstnanci pomocí sloupce cislo_zamestnance.

In [35]:
platy = pandas.read_csv("10_platy_2021_02.csv")
platy.shape

(43, 2)

In [33]:
zamestnanci_s_platy = pandas.merge(zamestnanci, platy, on="cislo_zamestnance", how="outer") #nevěděla jsem, jak použít metodu join
zamestnanci_s_platy.head()
zamestnanci_s_platy.shape #kdybych v prvním řádku použila atribut how=right, tabulka by obsahovala jen aktuální zaměstnance

(56, 6)

Porovnej rozměry tabulek před spojením a po spojení. Pokud nemá některý zaměstnanec plat za únor, znamená to, že v naší firmě již nepracuje.

- viz výše

Spočti průměrný plat zaměstnanců v jednotlivých kancelářích.

In [26]:
zamestnanci_s_platy.groupby("mesto")["plat"].mean().round(2)

mesto
Liberec    43775.00
Plzeň      44792.86
Praha      43295.24
Name: plat, dtype: float64

# 2. zadání

Pokračuj ve své práci pro softwarovou firmu. Ze souboru vykazy.csv načti informace o výkazech na projekty pro jednoho vybraného zákazníka.

Načti data ze souboru a ulož je do tabulky.

In [28]:
vykazy = pandas.read_csv("10_vykazy.csv")
vykazy

          date  hours project  emloyee_id
0   2021-02-01    2.5     F30          13
1   2021-02-01    3.4     W05          70
2   2021-02-01    2.1     JL9          72
3   2021-02-01    5.2     F30           3
4   2021-02-01    2.4     TE1          54
5   2021-02-01    4.1     TE1          83
6   2021-02-01    5.4     W05          92
7   2021-02-01    2.2     YLI          34
8   2021-02-01    2.7     YLI          84
9   2021-02-01    4.4     W05          30
10  2021-02-02    5.6     F30          53
11  2021-02-02    2.6     W05          47
12  2021-02-02    2.4     YLI          44
13  2021-02-02    3.1     YLI          40
14  2021-02-02    5.3     YLI          10
15  2021-02-02    3.6     YLI          53
16  2021-02-02    5.6     F30          56
17  2021-02-03    4.0     W05          53
18  2021-02-03    4.6     TE1          86
19  2021-02-03    2.6     F30          18
20  2021-02-03    2.8     TE1          47
21  2021-02-03    2.6     YLI          34
22  2021-02-03    3.7     YLI          96
23  2021-02-03    5.2     W05          57
24  2021-02-03    5.5     W05          40
25  2021-02-03    5.4     YLI          86
26  2021-02-03    2.1     TE1          87

Proveď agregaci a zjisti celkový počet vykázaných hodin za jednotlivé projekty.

In [32]:
pandas.DataFrame(vykazy.groupby("project")["hours"].count())

         hours
project
F30          5
JL9          1
TE1          5
W05          7
YLI          9

Ulož do proměnné počet zaměstnanců, kteří v naší firmě již nepracují.

V rámci úspory se IT oddělení rozhodlo prověřit licence přidělené zaměstnancům, kteří ve firmě již nepracují. Vytvoř samostatnou tabulku, která obsahuje jména zaměstnanců, kteří ve firmě již nepracují.

In [47]:
byvali_zamestnanci = zamestnanci_s_platy[zamestnanci_s_platy["plat"].isna()] #jak prosím uložím do proměnné konkrétní počet? 
byvali_zamestnanci.shape[0]
byvali_zamestnanci.count()
pandas.DataFrame(byvali_zamestnanci)

        jmeno prijimeni   telefonni_cislo  cislo_zamestnance    mesto  plat
3    Jennifer     Brown       775 545 190                 86  Liberec   NaN
5      Robert    Macias  +421 49 929 6856                 88  Liberec   NaN
10       Ivan    Bartoš       603 226 051                 99  Liberec   NaN
15   Jindřich    Howell  +421 39 043 0948                 10    Plzeň   NaN
16  Alexander  Martinez       721 195 689                 13    Plzeň   NaN
31     Marcel     Hájek  +421 902 928 669                 35    Praha   NaN
39   Karolína     Short       721 589 083                 53    Praha   NaN
40   Michelle   Vlčková  +421 41 720 7806                 54    Praha   NaN
43       John    Bailey       775 021 116                 58    Praha   NaN
44    William   Shelton  +421 47 745 8219                 60    Praha   NaN
45  Miroslava    Veselá       774 029 254                 62    Praha   NaN
48     Nathan   Svoboda       728 710 923                 66    Praha   NaN
51     Robert      Říha       727 351 984                 72    Praha   NaN

Tabulku ulož do souboru CSV.

In [51]:
with open('byvali_zamestnanci.csv', mode='w', encoding='utf-8') as file:
    file.write(byvali_zamestnanci, ensure_ascii=False) #nedaří se mi uložit data do csv

TypeError: TextIOWrapper.write() takes no keyword arguments

Propoj tabulku s výkazy s tabulkou se zaměstnanci, kterou jsi vytvořil(a) v předchozím cvičení.

- Tabulka zaměstnanci má název sloupce cislo_zamestnance a tabulka výkazy ma název sloupce emloyee_id. Nevím, jak sloupečky přejmenovat, aby se daly tabulky spojit

Následně proveď statistiku vykázaných hodin za jednotlivé kanceláře, tj. spočítej celkový počet hodin vykázaný zaměstnanci jednotlivých kanceláří na projekty daného zákazníka.