In [2]:
import pandas as pd

Načtení dat: Data si načti pomocí metody pandas.read_csv(). Pozor, nastav oddělovač na znak středníku. Využij parametr sep.

In [3]:
seznam_zvirat = pd.read_csv('adopce-zvirat.csv', sep=";")
seznam_zvirat

,id,nazev_cz,nazev_en,trida_cz,cena,k_prohlidce
0,7,Šváb syčivý,Madagascar giant cockroach,Bezobratlí,1000,1
1,8,Pakobylka okřídlená,Pink-winged stick insect,Bezobratlí,1000,1
2,16,Tayra,Tayra,Savci,5000,1
3,35,Kajmanka supí,Alligator snapping turtle,Plazi,2000,1
4,37,Želva žlutočelá,Indochinese box turtle,Plazi,1000,1
...,...,...,...,...,...,...
508,1417,Rosnice šalamounská,,Obojživelníci,1000,1
509,1418,Létavka obecná,,Obojživelníci,1000,1
510,1419,Bažant paví,,Ptáci,1000,1
511,1420,Sojkovec rezavouchý,,Ptáci,1000,1
512,1421,Kachnice kaštanová,,Ptáci,1000,1

Seznam se s daty. Kolik má tabulka řádek a sloupců?

In [4]:
seznam_zvirat.shape

(513, 6)

Jak se sloupce jmenují?

In [5]:
seznam_zvirat.columns

Index(['id', 'nazev_cz', 'nazev_en', 'trida_cz', 'cena', 'k_prohlidce'], dtype='object')

Které zvíře se nachází na záznamu s indexem 34? Vypiš název tohoto zvířete v češtině a v angličtině.

In [6]:
seznam_zvirat.iloc[34]

id                     99
nazev_cz        Ibis bílý
nazev_en       White ibis
trida_cz            Ptáci
cena                 3000
k_prohlidce             1
Name: 34, dtype: object

In [7]:
seznam_zvirat.iloc[34][['nazev_cz', 'nazev_en']]

nazev_cz     Ibis bílý
nazev_en    White ibis
Name: 34, dtype: object

Adopce kterých zvířat je nejdražší?

In [8]:
seznam_zvirat.sort_values(by='cena', ascending=False)

,id,nazev_cz,nazev_en,trida_cz,cena,k_prohlidce
114,335,Tygr sumaterský,Sumatran tiger,Savci,50000,1
113,334,Tygr ussurijský,Siberian tiger,Savci,50000,1
272,897,Tygr malajský,Malayan tiger,Savci,50000,1
129,385,Hroch obojživelný,Hippopotamus,Savci,50000,1
128,381,Slon indický,Asian elephant,Savci,50000,1
...,...,...,...,...,...,...
278,913,Čichavec perleťový,Pearl gourami,Ryby,1000,0
277,911,Papoušek zpěvavý,Red-rumped parrot,Ptáci,1000,1
276,910,Papoušek vlnkovaný (= andulka vlnkovaná),Budgerigar,Ptáci,1000,0
275,909,Hýl mexický,House finch,Ptáci,1000,1
512,1421,Kachnice kaštanová,,Ptáci,1000,1

Které zvíře je alfabeticky poslední v češtině? Které v angličtině?

In [10]:
#seznam_zvirat[seznam_zvirat['nazev_cz'[0]] == "ž"]